{% load tags %}
<!DOCTYPE html>

<html><head><title>{{entry.title}}</title><script type="text/javascript" src="{{media}}jquery.js"></script></head>

<body><h1>{{entry.title}}</h1>{{entry.lead|filepaths|safe}} {{entry.content|filepaths|safe}}

<ul>
{% for d in descendents %}
    <li><a href="{% url bumble.bumbl.views.entry d.path|urlify_path %}">{{d.title}}</a><br>{{d.lead|filepaths|safe}}</li>
{% endfor %}
</ul>

<script type="text/javascript">
$(document).ready(function() {
	$(window).scroll(function () {
		if ($(window).scrollTop() >= $(document).height() - $(window).height() - 10) {
			alert($(window).scrollTop() + '/' + $(document).height() + '/' + $(window).height());
		}
	});
});
</script>

</body></html>
