{% extends "base.html" %}
{% load tags %}

{% block css %}{{entry.total_css|filepaths|safe}}{% endblock %}

{% block title %}{{entry.title}}{% endblock %}

{% block pageTitle %}{{entry.title}}{% endblock %}

{% block content %}
    {% if entry.parent %}
        <a href="{% url bumble.bumbl.views.entry entry.parent.path|urlify_path %}" class="parent-link">{{entry.parent.title}}</a>
    {% endif %}
    <div id="date">
        {{entry.created}}
    </div>
    <div id="lead">
        {{entry.lead|filepaths|md|safe}}
    </div>
    <div id="content">
        {{entry.content|filepaths|md|safe}}
    </div>
    <ul id="tags">
        {% for t in entry.tags.all %}
            <li class="tag"><a href="{% url bumble.bumbl.views.entry entry.parent.path|urlify_path %}/tag/{{t.name}}/">{{t.name}}</a></li>
        {% endfor %}
    </ul>
    <ul id="comments">
        {% for c in entry.comments.all %}
            <li class="comment"><span class="commenter">{{c.commenter}}</span><span class="comment-date">{{c.created}}</span><span class="comment-text">{{c.text}}</span></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block descendents %}
    {% for d in descendents %}
		<li class="descendent"><a href="{% url bumble.bumbl.views.entry d.path|urlify_path %}" class="descendent-link">{{d.title}}<span class="descendent-date">{{d.created}}</span></a><span class="descendent-lead">{{d.lead|filepaths|md|safe}}</span></li>
	{% endfor %}
{% endblock %}
