{% extends "base.html" %}
{% load tags %}

{% block css %}{{entry.total_css|filepaths|safe}}{% endblock %}

{% block title %}{{entry.title}}{% endblock %}

{% block pageTitle %}{{entry.title}}{% endblock %}

{% block content %}
    {% if entry.parent %}
        <a href="{% url bumble.bumbl.views.entry entry.parent.path|urlify_path %}" class="parent-link">{{entry.parent.title}}</a>
    {% endif %}
    <div id="lead">
        {{entry.lead|filepaths|md|safe}}
    </div>
    <div id="content">
        {{entry.content|filepaths|md|safe}}
    </div>
{% endblock %}

{% block descendents %}
    {% for d in descendents %}
		<li class="descendent"><a href="{% url bumble.bumbl.views.entry d.path|urlify_path %}" class="descendent-link">{{d.title}}</a><span class="descendent-lead">{{d.lead|filepaths|md|safe}}</span></li>
	{% endfor %}
{% endblock %}
