{% extends "base.html" %}
{% load tags %}

{% block css %}{{entry.total_css|filepaths|safe}}{% endblock %}

{% block title %}{{entry.title}}{% endblock %}

{% block pageTitle %}{{entry.title}}{% endblock %}

{% block content %}{{entry.lead|filepaths|safe}} {{entry.content|filepaths|safe}}{% endblock %}

{% block descendents %}
    {% for d in descendents %}
		<li><a href="{% url bumble.bumbl.views.entry d.path|urlify_path %}">{{d.title}}</a><br>{{d.lead|filepaths|safe}}</li>
	{% endfor %}
{% endblock %}
