{% extends "base.html" %}
{% load tags %}

{% block css %}{{entry.total_css|filepaths|safe}}{% endblock %}

{% block title %}{{entry.title}}: {% for t in tags %}{{t}} {% endfor %}{% endblock %}

{% block feedTitle %}{{entry.title}}: {% for t in tags %}{{t}} {% endfor %}{% endblock %}

{% block pageTitle %}{{entry.title}}: {% for t in tags %}{{t}} {% endfor %}{% endblock %}

{% block content %}{% endblock %}

{% block descendents %}
    {% for e in entries %}
        <li class="descendent"><a href="{% url bumble.bumbl.views.entry e.path|urlify_path %}" class="descendent-link">{{e.title}}<span class="descendent-date">{{d.created}}</span></a><span class="descendent-lead">{{e.lead|filepaths|md|safe}}</span></li>
    {% endfor %}
{% endblock %}
